In [1]:
import pandas as pd

In [48]:
def name_to_numbers(letters, alf):
    letters = letters.lower()
    numbers = []

    for letter in letters:
        if alf == 'latin':
            number = ord(letter) - 96
        elif alf == 'russian':
            number = ord(letter) - 1071
        elif alf == 'bulgarian':
            number = ord(letter) - 1071
            if number > 28:
                number -=1
                if number > 30:
                    number -=1
                
        else:
            number = ord(letter) - 0
        numbers.append(number)

    return numbers


def mod9(number=int):
    return number%9



def name_quality(numbers=list):
    uniqueNums = set(numbers)
    quality = len(list(uniqueNums))
    return quality


def perfect_name(numbers=list):
    perfect = False
    if len(numbers) >= 9:
        quality = name_quality(numbers)
        if quality == 9:
            perfect=True
    return perfect

def get_quality(name, alf):
    numbers = name_to_numbers(name, alf)
    number9name = [mod9(n) for n in numbers]
    quality = name_quality(number9name)
    #print(name, numbers, quality)
    return quality

# Bulgarian names

In [94]:
path = '/Users/kivanov/Downloads/all_text.csv'
bgDat = pd.read_csv(path, sep='|', header=None, low_memory=False)

In [95]:
bgDat.head()

,0,1,2,3,4,5,6,7,8
0,АДЕЛИНА,ВЕНЦИСЛАВОВА,ВЕЛКОВА,f,26 - Софийски,Елин Пелин,NaN,гр. Елин Пелин,№ 001
1,АДЕЛИНА,ХРИСТОВА,ГРАХОВСКА,f,26 - Софийски,Елин Пелин,NaN,гр. Елин Пелин,№ 001
2,АДЕЛИНА,ХРИСТОВА,СТОЯНОВА,f,26 - Софийски,Елин Пелин,NaN,гр. Елин Пелин,№ 001
3,АДРИАНА,СТИЛИЯНОВА,ЛЮБЕНОВА,f,26 - Софийски,Елин Пелин,NaN,гр. Елин Пелин,№ 001
4,АЙГЮЛ,АЙДУН,МЕХМЕД,f,26 - Софийски,Елин Пелин,NaN,гр. Елин Пелин,№ 001

In [96]:
sampleBG = bgDat.sample(frac=1)
sampeBGmale = sampleBG.loc[bgDat[3]=='m'].copy()
sampeBGmaleUnique= sampeBGmale[0].unique()

In [97]:
sampeBGmaleUnique = pd.DataFrame(sampeBGmaleUnique)

In [99]:
sampeBGmaleUnique['quality'] = sampeBGmaleUnique[0].apply(lambda x: get_quality(x, alf='bulgarian'))

In [103]:
sampeBGmaleUnique = sampeBGmaleUnique.sort_values(by = ['quality'], ascending=False)
sampeBGmaleUnique = sampeBGmaleUnique.rename(columns={0:'name'})

print(sampeBGmaleUnique.head(n=10).to_string(index=False))

                  name  quality
        КРИСТИЯН-МИШЕЛ        9
          ГАБРИЕЛ_ЖОАО        9
     ПАУЛ_ЕРИК_ГАБРИЕЛ        9
  ДЖОНАТАН_ФРАНСУА_ЙУГ        9
    АЛЕКСАНДЕР_АСПАРУХ        9
 КЛИМЕНТ_ПИЕР-МАРИ_КАМ        9
          МАЛИКЪАЖДЕРЪ        9
         ПЛАМЕН-ВИКТОР        9
       БОЖИДАР-АЛХАСАН        9
  МИОДЖЕРАЛВОМБО-ПАВЕЛ        9

# Russian names

In [92]:
path = '/Users/kivanov/Downloads/russian_names.csv'
russian = pd.read_csv(path, sep=';')
russiancp = russian.copy()
russianMales = russian.loc[russiancp['Sex']=='М'].copy()
russianMales['quality'] = russianMales['Name'].apply(lambda x: get_quality(x, alf='russian'))
russianMales = russianMales.sort_values(by = ['quality'], ascending=False)
russianMales = russianMales.drop(russianMales[russianMales['Name']=='Викас&nbsp;'].index)

In [93]:
russianMales = russianMales.rename(columns={'Name':'name'})
print(russianMales.head(n=10)[['name', 'quality']].to_string(index=False))

            name  quality
     Куртджемиль        9
       Правдомир        8
       Франчишек        8
 Франческохавьер        8
        Зелимкан        8
        Кершихан        8
      Гаджикерим        8
      Каратпегин        8
      Гильдегард        8
   Любомиртеодор        8

# English names

In [77]:
path = '/Users/kivanov/Downloads/baby-names.csv'

english = pd.read_csv(path)

englishMales = english.loc[english.sex=='boy'].copy()
englishMalesUnique = pd.DataFrame(englishMales['name'].unique())
englishMalesUnique = englishMalesUnique.rename(columns={0:'name'})

In [78]:
englishMalesUnique['quality'] = englishMalesUnique['name'].apply(lambda x: get_quality(x, alf='latin'))
englishMalesUnique = englishMalesUnique.sort_values(by = ['quality'], ascending=False)

In [83]:
print(englishMalesUnique.head(n=10).to_string(index=False))

        name  quality
  Fitzgerald        9
  Cristopher        8
    Thorwald        8
 Bartholomew        8
 Christopher        8
  Christoper        8
    Randolph        8
    Hamilton        8
    Rosevelt        7
     Bradley        7